@font-face {
    font-family:'PFRegalDisplayProBlack';
    src: url('./Fuentes/PFRegalDisplayProRegular.ttf');
}

*{
    margin: 0px;
    font-family: "PFRegalDisplayProRegular";


    #ImgHome {
        width: 100%;
        height: 500px;
        object-fit: cover;
        filter: brightness(0.5);
    }
   

    #ImgHomeMobile {
        display: none;
    }

    #TitulosHome {
        position: absolute;
        top: 300px;
        margin-left: 10vw;
        color: white;
        font-size: 32px;

        #fuente {
            font-family: "PFRegalDisplayProRegular";
        }

        #gris {
            font-size: 18px;
            color: #B4B7B7
        }

        #botonhome {
            margin-top: 10px;
            width: 240px;
        }

}






    button {
        background-color: transparent;
        border-color: white;
        border-radius: 50px;
        padding: 15px;
        color: white;
        border: 1px solid;
        font-family: 'Arial';

    }

}

#Redes {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: auto 70px 25px 25px 25px 25px;
    width: 45px;
    justify-items: center;
    position: fixed;
    top:150px;
    
    img {
        display: block;
        margin-top: 20px;
    }


    p {
        transform: rotate(90deg);
        display: inline-block;
        font-weight: bold;
        color: #7E7E7E
    }


}
 
#SeccionesMobile {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    position: absolute;
    top: 80vh;
    width: 100%;

        .Rayita {
            margin-top: 10px;
            height: 4px;
            width: 20px;
            background-color: gray;
            margin-right: 10px;
        }
}

#Buscador {
    background-color: transparent;
    border-color: white;
    border-radius: 50px;
    border: 1px solid;
    color: white;
    margin-left: 65vw;
    position: absolute;
    top: 130px;
    
    img {
        display: inline-block;
        margin-left: 130px;
    }

}



@media (max-width: 400px) {
    #TitulosHome {
        margin-left: 10vw;
        top: 300px;
        justify-self: center;
        font-size: 30px;
    }   

    button {
        justify-self: center;
        width: 250px;
    }

    #Redes {
        display: none;
    }


    .SeccionesMobile {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 3fr;

    }


    #Buscador {
        top: 120px;
        margin-left: 7%;

        #text {
            text-align: left;
        }

        img {
            display: none;
        }

    }

    #ImgHome {
        display: none;
    }


    #ImgHomeMobile {
        filter: brightness(0.5);
        display: block;
        width: 100%;
        height: 500px;
    }


}
